body {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: -3%;
    width: 90%;
    padding: 10px 8%;
    background-color: #ffffff;
    border-bottom: 1px solid #cbcbcb;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.logo span{
    color: #00ff88;
}

.menu ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.menu a{
    color:#64748b;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
}

.Pedal{
    min-height: 100vh;
    width: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding: 2px 1%;
}

.pedal-conteudo{
    max-width: 330px;
    color: #000;
    font-body: 'Inter', sans-serif;
}

.Pedal h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.Pedal p{
    font-size: 10px;
    margin-bottom: 30px;
    color: #15803d;
    padding: 2px 4%;
}

.Pedal h2{
    font-size: 15px;
    margin-bottom: 30px;
    color: #334155;
    padding: 2px 1%;
}

.botao{
    display: inline-block;
    background-color: #15803d;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
}